:root {
    --background : rgba(255,255,251,0.8);
    --tabletdcolor: rgba(200,255,200,0.9);
    --maxwidth: 1000px;
    --minwidth: 400px;
}


h1, h2, h3, h4, h5, h6 {
    line-height: 200%;
    margin-bottom: 20px;
}

body {
    /* font-family: "Libre Baskerville"; */
    /* font-size: 16px; */
    /* font-family : 'EB Garamond'; */
    font-family: "Open Sans", "Arial", sans-serif;
    width: 90%;
    max-width: var(--maxwidth);
    min-width: var(--minwidth);
    margin: auto;
    /* background: #A9FFCB !important; */
}

#div_background_image {
    /* width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}

div.menu-item {
    background: var(--tabletdcolor);
    min-height: 100px;
    vertical-align: center;
    display: inline;
}


div.sticker {
    margin: 2px;
    font-size: small;
    font-family: Ubuntu;
    border-radius: 5px;
    background-color: GhostWhite;
}

div.user_float {
    position : fixed;
    top : 2%;
    right: 10%;
    max-width: var(--maxwidth);
}

table.user_float {
    border-radius: 10px;
    padding: 3px;
    float: right;
    border-collapse: separate;
    border: 2px solid lightblue;
}

table.user_float tr td {
    padding: 5px;
    text-align: justify;
    vertical-align: bottom;
    padding: 5px;
}

table.user_float a {
    color: red;
}

div.radio {
    background-color: lightblue;
}

h1.title {
    font-size: xx-large;
    font-variant: small-caps;
    vertical-align: bottom;
    display: inline-block;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'EB Garamond';
    margin-bottom: 10px;
    line-height: 120%;
}

h2 {
    font-family: 'EB Garamond';
    margin-bottom: 10px;

}

h3 {
    font-family: 'EB Garamond';
    margin-bottom: 10px;
}

h4 {
    font-family: 'EB Garamond';
    margin-bottom: 10px;
}

.editable {
    min-width : 300px;
}

input.long {
    min-width: 80%;
    /* max-width: 500px; */
}


img.login_picture {
    /* height : auto; */
    /* max-height : 300px; */
}


table {
    /* font-family : 'Ubuntu'; */
    margin-right: 10px;
}

table tr td {
    border: 0px;
}


table.show_user {
    max-width : var(--maxwidth);
    min-width : 100%;
}

table.show_user tr td
{
    /*border : 0.5px dotted; */
    min-width : 20%;
}


table.public_links {
    width:100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
    table-layout: fixed;
    margin-bottom: 10px;
}

table.public_links tr td {
    min-width: 30px;
    text-align: center;
    padding-top : 20px;
    padding-bottom: 5px;
    background: none;
    text-decoration: underline;
    border-radius:5px;
}

table.show_info {
    max-width: var(--maxwidth);
    width: 100%;
}

table.show_info tr td:nth-child(1)
{
    max-width : 25%;
    padding:5px;
}

table.show_info tr td
{
    background-color: var(--tabletdcolor);
    border-top: 1px dotted;
}

table.table_in_table {

}

table.table_in_table tr td
{
    border: 1pt dotted lightblue;
    vertical-align: bottom;
    font-size: small;
    font-family: "Roboto";
}

/* Show course */
table.show_course {
    width: 100%;
    table-layout: auto;
    border-spacing: 1px 10px;
    border-collapse: separate;
}

table.show_course tr {
    width: 100%;
    border-radius:10px;
}

table.show_course tr td:nth-child(1)
{
    width : 40%;
}
table.show_course tr td
{
    background-color: var(--tabletdcolor);
    width: 30%;
    min-width: 10%;
    padding:10px;
    font-size:small;
    vertical-align: top;
}


table.show_db_entry_long {
    max-width: var(--maxwidth);
    min-width: 500px;
    font-size: small;
}

table.show_db_entry_long th {
    font-size: xx-small;
}

table.show_db_entry_long tr td {
    border: 1px dotted;
    background-color: var(--tabletdcolor);
}

table.show_speaker tr td  {
}


table.events {
    max-width : var(--maxwidth);
    min-width : 500px;
    width: 800px;
    border: 3px solid ivory;
}

table.events tr td
{
    vertical-align:top;
    /* border-top : 2px solid lightblue; */
    text-align : left;
    /* max-width : 500px; */
    max-height: 3cm;
    /* background-color: var(--tabletdcolor); */
    background-color: Ivory;
    padding: 10px;
    line-height: 150%;
    text-align: left;
}

table.events caption {
    font-weight: bold;
    font-size: x-large;
    font-family: Lora;
}

table.show_calendar {
    max-width : var(--maxwidth);
    min-width : 100%;
    margin: 20px;
}

table.show_calendar tr td:nth-child(1)
{
    border : 0.5px dotted;
    max-width : 20%;
    text-align : right;
}

table.show_aws_summary {

}


table.show_aws_summary tr td
{
    background-color:var(--tabletdcolor);
    border : 1px dotted;
}

table.show_schedule {
    min-width : 600px;
    width : 100%;
    max-width : 80%;
}

table.show_schedule tr td
{
    /* font-family: Fira Sans; */
    background-color: var(--tabletdcolor);
    border-top : 1px solid gray;
    border-spacing: 4px;
    width: 50%;
    font-size: small;
}


table.tasks
{
    width: 100%;
    max-width: var(--maxwidth);
    min-width : 500px;
    border-spacing: 1px;
    border-collapse: separate;
}


table.tasks tr td
{
    background-color:var(--tabletdcolor);
    min-width: 100px;
    /* vertical-align: top; */
    border-radius: 10px;
    padding: 5px;
    text-align: top;
}

table.standout {
    max-width : var(--maxwidth);
}

table.standout tr td
{
    border : 1px dotted;
    background-color:var(--tabletdcolor);
}

table.timetable 
{
    /*  Gap between td    */
    border-spacing: 2px;
    border-collapse: separate;
}

table.timetable tr td {
    min-width : 5px;
    max-width : 100px;
    vertical-align: top;
    padding: 5px;
}

table.venue_slot {
    max-width: var(--maxwidth);
    border : 0px dotted;
    border-collapse: collapse;
}

table.venue_slot tr td {
    border : 0px;
    width: 400px;
    background-color:var(--tabletdcolor);
}

table.chart {
    max-width: 100%;
    margin-bottom: 50px;
}

table.chart tr td  {
    min-width: 400px;
    width:100%;
    border-top: 1pt solid lightblue;
    margin-bottom: 50px;
}

table.enrollments {
    width: 100%;
    table-layout: fixed;
}

table.enrollments tr td {
    /* font-size: small; */
    background-color: var(--tabletdcolor);
    padding: 2px;
    border: 1px solid;
    /* border-radius: 10px; */
}

div.info {
    /*border : 1px solid #73AD21;*/
    max-width : var(--maxwidth);
}

div.important {
    background-color: rgba(200,200,200,0.2);
    border: 2px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
}

div.notice {
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
}

div.header {
    float: top;
    margin: auto;
    background-color: darkblue;
}


h1.title a {
    color : white;
}

div.aws_preference {
    font-size : x-small;
}

div.human_readable {
    /* font-size: small; */
    /* min-width: 600px; */
    /* max-width: 100%; */
    line-height: 1.2;
}

div.bottom {
    font-size : xx-small;
    float: bottom;
    top-margin: 95%;
}

div.cell_content {
    min-width : 10%;
    max-height : 200px;
    overflow : auto;
}

div.goback {
    padding:10px;
}

div.public_calendar {
    margin-top : 500px;
    background: transparent;
}

div.justify {
    /* max-width: 600px; */
    min-width: 400px;
    text-align: justify;
}

div.thick_border {
    border: 5px solid red;
    margin: 10px;
}


button.tiles {
    border : 1px dotted;
    font-size : small;
    padding: 0px;
    margin: 0px;
    min-width:20px;
    min-height:20px;
}

button.sort {
    font-size: x-small;
    width: 2px;
}


button.add_event {
    width : 20px;
    height : 20px;
    border-style : none;
    min-height : 20px;
    min-width : 20px;
}

button.display_event {
    min-height : 20px;
    min-width : 20px;
    border-style : none;
}

button.add_event_with_public_event {
    width : 20px;
    height : 20px;
    border-style : none;
    min-height : 20px;
    min-width : 20px;
}
button.display_event_with_public_event {
    min-height : 20px;
    min-width : 20px;
    border-style : none;
}

button.add_event_past {
    width : 20px;
    height : 20px;
    border-style : none;
    min-height : 20px;
    min-width : 20px;
}

button.display_request {
    min-height : 20px;
    min-width : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    /*alignment : right;*/
    /*vertical-align: text-top;*/
}

button.submit {
    font-size: x-large;
    display: inline-block;
    /* overflow: auto; */
    float: right;
    position: inherit;
    padding: 3px;
    margin-top: 20px;
}


button.courseInfo {
    border: none;
    background: none;
    min-width : 200px;
    /* font-variant: small-caps; */
    text-align : left;
    /* font-weight: bold; */
}

button.show_as_link {
    /* padding: 3px; */
    min-width:20px;
    min-height:10px;
    cursor: pointer;
    font-size: large;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    background: none;
    border: none;
    float: right;
}

button.big {
    /* font-size: large; */
    /* font-family: "Fira Sans"; */
    min-width : 80px;
    min-height: 40px;
    background: var(--tabletdcolor);
    border-radius: 8px;
    padding-left padding-right: 5px;
}

button.small {
    font-size: x-small;
    padding: 0pt;
}

/* This button is disabled and represent current type of enrollement. It is
 * either CREDIT or AUDIT.
 */
button.current_enrollment_type {
    background: none;
    border: none;
    font-weight: bold;
    text-decoration: underline;
    color: red;
}


table.condensed 
{
    /* border-spacing: 2px; */
    border-collapse: separate;
    width: 100%;
}

table.condensed tr td 
{
    font-size: small;
    text-align: top;
    border-top: 1px solid lightblue;
}

table.condensed tr td:nth-child(odd) 
{

}

table.input {
    /* text-align : left; */
    min-width : 400px;
    width : 100%;
}

table.input tr td:nth-child(odd) {
    /* text-align : right; */
    /* min-width : 30%; */
    vertical-align : top;
    font-size : small;
    max-width: 150px;
    background-color: var(--tabletdcolor);
}

table.input tr td:nth-child(even) {
    background-color: var(--tabletdcolor);
}

table.input tr td {
    border-top: 1px dotted blue;
}

table.request {
    width : 100%;
}

table.show_requests {
    text-align : left;
    border-collapse : separate;
    width : 100%;
}

table.show_events {
    max-width : var(--maxwidth);
    min-width : 80%;
}

table.show_events tr td  {
    text-align : left;
    background-color: var( --tabletdcolor );
}

table.submit_request tr {
    width : 90%;
}

table.submit_request.tr td {
    border-width : 0.5px;
}

table.event {
    text-align : left;
    border-collapse : separate;
    border : 1px dotted;
    max-width : 90%;
}

table.show_venue {
    text-align : left;
    border-collapse : separate;
    border : 1px dotted;
    max-width : 90%;
    font-size: x-small;
}

table[class*='editable_'] {
    text-align: left;
    /* background: rgba(250,250,250,1); */
    margin:10px;
    width: 90%;
    /* min-width: 600px; */
}

table[class*='editable_'] tr td {
    text-align: left;
    padding:2px;
    border-top : 1px solid lightblue;
    padding: 1px;
    background-color: lightyellow;
}

table.editable_events {
    text-align : left;
}

table.editable_jc_presentations {
    text-align : left;
}
table.editable_jc_presentations tr td {
    background-color: var(--tabletdcolor);
}

table.event_sticker
{
    width : 100px;
}

table.event_sticker tr td
{
    border : 1px dotted;
    background-color:var(--tabletdcolor);
}

table.editable_logins {
    min-width: 80%;
    max-width: var(--maxwidth);
}

table.editable_logins tr td {
    text-align: left;
    word-wrap: break-word;
    background-color:var(--tabletdcolor);
}

table.editable_faculty {
    text-align : left;
    min-width : 500px;
}

table.sortable thead {
    background-color: rgba(100,100,100,0.8);
    cursor: default;
    /* cursor:s-resize; */
    /* text-decoration: underline; */
}

table.editable_faculty tr td
{
    /*border : 0.5px dotted; */
    /*min-width : 20%;*/
}

caption {
    /* color: blue; */
    /* font-variant: small-caps; */
    /* text-decoration: underline; */
}

div.image {
    max-width: 100%;
}

table.login_main {
    float:right;
    margin-right:0%;
    margin-top: 20px;
}

table.login_main tr td {
    /* width:100px; */
    /* margin:10px; */
    background-color: none;
}

table.eventline  {
    table-layout : fixed;
    text-align : left;
}

table.eventline tr td  {
    padding : 1px;
}

table.hourtable {
    table-layout : fixed;
}

table.hourtable tr td {
    width : 30px;
}


table.request tr:nth-of-type( odd ) {
    background: #eee;
}

/* This implements auto row number in table */
/* https://stackoverflow.com/a/28320927/1805129 */
table.info {
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
    table-layout: fixed;
    overflow-wrap: break-word;
}

table.info tr td {
    /* font-family : 'OpenSans'; */
    font-size: small;
    padding-left:5px;
    padding-top:5px;
    padding-bottom: 10px;
    vertical-align:top;
}

table.info tr:nth-of-type( odd ) {
    background-color: #eee;
}

table.infolarge {
    max-width : 100%;
    min-width : 500px;
}


table.infolarge tr td 
{
    /* font-family : 'Fira Sans'; */
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align:top;
    min-width : 100px;
}

table.infolarge tr:nth-of-type( odd )
{
    background-color: #eee;
}

tr.bordered td {
    border: 2px solid lightblue;
}

/* table for poll */

table.poll {
    border: 1px;
    max-width: var(--maxwidth);
    min-width: 100%;
}

/* Second column must be larger */
table.poll tr td {
    font-size:small;
    min-width: 400px;
    /* text-decoration: underline; */
    vertical-align: top;
    border: 1px lightblue solid; 
}

table.tiles {
    min-width: 100px;
    margin-right: 20px;
}

table.tiles tr td {
    min-width: 50px;
    font-size: x-small;
    border-top: 1px solid lightgray;
    /* border-right: 1px solid lightgray; */
    padding:  4px;
}

table.show_card {
    max-width : 50%;
    min-width : 300px;
    border: 1px dotted;
}

table.show_card tr td {
    font-size: x-small;
    vertical-align:top;
}

table.sticker {
    width: 100%;
    height: 150px;
    border: 1px dotted lightblue;
}

table.sticker tr td {
    max-width: 100px;
    background-color: rgba(0,0,0,0);
    padding: 3px;
}

table.admin 
{
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;
    table-layout: fixed;
}

table.admin tr td {
    /* min-width: 200px; */
    background-color: var(--tabletdcolor);
    vertical-align: top;
    border-radius: 20px;
    padding:10px;
    overflow-x: auto;
    width: 100%;
}

table.first_column_important {
    background-color: var(--tabletdcolor);
    vertical-align: top;
    max-width: 100%;
    min-width: 500px;
    font-size: small;
}

table.first_column_important tr td {
    min-width: 50px;
}

table.first_column_important tr td:first-child {
    min-width: 300px;
}


.goback {
}

.update {
    position : absolute;
    left : 440px;
}

.submit {
    position : absolute;
    left : 440px;
}

/* paragraphs */

p.justify {
    max-width: var(--maxwidth);
    text-align: justify;
}


p.info {
    min-width : 700px;
    max-width: var(--maxwidth);
}

p.warn {
    color : red;
    font-size : large;
}

p.note_to_user {
    font-size : small;
    color : darkred;
    max-width : 80%;
}

p.note {
    font-size : small;
    color : darkred;
    max-width : 80%;
}

p.wherewhen {
    font-size: large;
    color: blue;
    border-bottom: 1px dotted gray;
    font-variant: small-caps;
}

div.human_readable p:first-of-type::first-letter {
    font-size: xx-large;
}

td.db_table_fieldname {
    font-size : x-small;
    text-transform : uppercase;
}

table.tableintd {
    max-width: 80%;
    min-width: 300px;
    font-family: 'Ubuntu';
    font-size: small;
    float: left;
}

table.tableintd tr td {
    /* font-size: small; */
    padding: 0px;
    padding-bottom: 3px;
    vertical-align: top;
}

table.td_as_tile { 
    border-collapse: separate;
    background: none;
    margin: 10px;
}

table.td_as_tile tr td {
    border-radius: 10px;
    border: 1px solid lightblue;
    padding: 3px;
    vertical-align: top;
    margin: 5px;
    width: 25%;
    min-height: 30px;

}

td.infonote {
    border-radius: 10px;
    border: 1px solid lightblue;
    padding: 3px;
    vertical-align: top;
    margin: 5px;
    width: 25%;
    min-height: 30px;
}

th {
    font-size: small;
}

div.alert_user {
   max-width : 100%;
   min-width: inherit;
   max-width : inherit;
   width: 80%;
   margin: 10px;
}

div.alert {
    width : 100%;
}

div.fa_note {
   max-width : var(--maxwidth);
   border: 1px dotted;
   border-radius: 20px;
   background: rgba(200,200,250,1);
   min-width: 500px;
   width: 80%;
   padding-left: 10px;
   margin-top:10px;
}


div.bordered {
    border: 1px dotted blue;
    overflow: auto;
    margin: 5px;
}


table.summary {
    font-size : small;
    min-width : 50%;
    max-width : 500px;
    width : 500px;
}

table.summary tr td  {
    border : 0px dotted;
}

table.index {
    min-width : 50%;
}

table.index tr td {
    min-width : 250px;
}

table.repeat_pat {
    min-width: 500px;
    max-width : var(--maxwidth);
}

/* table.repeat_pat tr td:nth-child(1) { */
    /* width: 200px; */
    /* max-width: 200px; */
/* } */

table.repeat_pat tr td
{
    width: 25%;
    border-top: 1px dotted;
}

table.repeat_pat input
{
    width: 175px;
    max-width: 300px;

}

table.upload {
    border-bottom: 3px solid lightblue;
}

table.upload tr td {
}

table.wherewhen {
    margin-top: 20px;
}

table.wherewhen tr td {
    font-variant: small-caps;
    background-color: rgba(100,100,200,0.1);
}


/* SELECT */
select.supervisors {
    min-width : 300px;
}


ul {
    width : 500px;
    text-align: justify;
}


address {
    display: block;
}


a[href^="mailto:"] {
  text-decoration: none;
  font-family : monospace;
  font-size: small;
}

a[href^="mailto:"]::before {
    content: "\2709 ";
    font-size: x-large;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /*font-variant: small-caps; */
}

a:active {
    text-decoration: underline;
}

a.link_as_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 5px;
}

a.clickable {
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
    cursor: url;
    padding: 5px;
    margin-bottom: 5px;
}

a.bright {
    color : white;
    font-variant: small-caps;
}

a.clickable_small {
    font-size:large;
    font-weight: bold;
    text-decoration: underline;
    font-variant: small-caps;
    cursor: url;
    padding-bottom: 50 px;
    margin-bottom: 20px;
}

a {
    max-width : var(--maxwidth);
    cursor: url;
}

footer {
    position: fixed;
    top: 90%;
}

footer *  {
    text-color: blue;
}

div.bottom * {
    /* color: lightblue; */
    text-color: blue;
}

div.addtogooglecal {
    clear: left;
    overflow: auto;
}

th {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
}

ul {
    width : 100%;
}

details {
  font: 16px "Open Sans", "Arial", sans-serif;
}

details > summary {
  padding: 2px 6px;
  width: 100%;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}
<
form {
    margin-bottom: 20px;
    margin-top: 20px;
}
